

<div class="news">
  {% if page.lang == "en" %}
  <h2>news</h2>
  {% endif %}
  {% if page.lang == "pl" %}
  <h2>nowości</h2>
  {% endif %}
  

  {% if site.news %}
  {% assign current_language = site.news | where:"lang", page.lang %}
    <table>
    {% assign news = current_language | reverse %}
    {% for item in news limit: site.news_limit %}
      <tr>
        {% if page.lang == "en" %}
        <td class="date">{{ item.date | date: "%b %-d, %Y" }}</td>
        {% endif %}
        {% if page.lang == "pl" %}
        <td class="date">{{ item.date | date: "%Y.%m.%-d" }}</td>
        {% endif %}
        <td class="announcement">
          {% if item.inline %}
            {{ item.content | remove: '<p>' | remove: '</p>' | emojify }}
          {% else %}
            <a class="news-title" href="{{ item.url | prepend: site.baseurl }}">{{ item.title }}</a>
          {% endif %}
        </td>
      </tr>
    {% endfor %}
    </table>
  {% else %}
    <p>No news so far...</p>
  {% endif %}
</div>
